include ../../common/ui/appPageLayout/appPageLayout.pug
include ../mathGrants/mathGrants.pug
include ../mathCuration/mathCuration.pug
include ../scienceGrants/scienceGrants.pug
include ../scienceCuration/scienceCuration.pug
include ../engagementScience/engagementScience.pug
include ../researchGrants/researchGrants.pug
include ../policyGrants/policyGrants.pug
include ../researchCuration/researchCuration.pug
include ../researchNetworking/researchNetworking.pug
include ../innovationGrants/innovationGrants.pug
include ../prizesWinners/prizesWinners.pug
include ../kfasMedia/kfasMedia.pug
include ../pilotProjects/pilotProjects.pug
include ../assignedProjects/assignedProjects.pug
include ../researchCapacity/researchCapacity.pug
include ../privateSectorProjects/privateSectorProjects.pug
include ../innovationCurations/innovationCurations.pug
include ../organizationalProjects/organizationalProjects.pug
include ../organizationalAchivements/organizationalAchivements.pug
include ../financialAchivements/financialAchivements.pug

include ../../common/ui/mainScreenCard/mainScreenCard.pug
include ../../common/ui/smallPrizeRow/smallPrizeRow.pug
include ../../common/ui/appTab/appTab.pug
include ../../common/ui/bigNumWithTitle/bigNumWithTitle.pug


+appPageLayout()
  +MathGrantPage()
  +MathCurationPage()
  +ScienceGrantPage()
  +ScienceCurationPage()
  +EngagementSciencePage()
  +ResearchGrantsPage()
  +PolicyGrantPage()
  +ResearchCurationPage()
  +ResearchNetworkingPage()
  +InnovationGrantPage()
  +PrizesWinnersPage()
  +KfasMediaPage()
  +PilotProjectsPage()
  +AssignedProjectsPage()
  +ResearchCapacityPage()
  +PrivateSectorProjectsPage()
  +InnovationCurationsPage()
  +OrganizationalProjectsPage()
  +OrganizationalAchivementsPage()
  +FinancialAchivementsPage()


  .main-container
    header.index-header
      .index-header-content 
        img.index-logo(src=require("../../assets/svg/logo.svg"))
        h1.index-header-title KFAS 2023 Highlights
    .main-row
      +mainScreenCard({
        title: 'Math and Science Education - Grants', 
        color: '#FFE4C1'
        })(class="main-card toMathGrant")
        img(src=require('../../assets/svg/mainScreen/mathGrants.svg'))
      +mainScreenCard({
        title: 'Math and Science Education - Curation', 
        color: '#D6EDFF'
        })(class="main-card toMathCuration")
        img(src=require('../../assets/svg/mainScreen/mathCuration.svg'))
      +mainScreenCard({
        title: 'Science Dissemination - Grants', 
        color: '#FFE4C1'
        })(class="main-card toScienceGrant")
        img(src=require('../../assets/svg/mainScreen/scienceGrants.svg'))
      +mainScreenCard({
        title: 'Science Dissemination - Curation', 
        color: '#D6EDFF'
        })(class="main-card toScienceCuration")
        img(src=require('../../assets/svg/mainScreen/scienceCuration.svg'))
        //- ENGAGEMENT
      +mainScreenCard({
        title: 'Engagement in Science (Grants)', 
        color: '#FFE4C1'
        })(class="main-card-big toEngagementScience")
        .egagement-grants-card 
          img(src=require('../../assets/svg/mainScreen/engagementGrants1.svg'))
          img.img-last(src=require('../../assets/svg/mainScreen/engagementGrants2.svg'))
        //- RESEARCH GRANTS
      +mainScreenCard({
        title: 'Research Grants', 
        color: '#FFE4C1'
        })(class="main-card-big toResearchGrants")
        .research-grants-row
          img(src=require('../../assets/svg/mainScreen/researchGrants.svg'))
          img.img-last(src=require('../../assets/svg/mainScreen/researchGrants2.svg'))
      //- RESEARCH CAPACITY
      +mainScreenCard({
        title: 'Research - Capacity Building Curations', 
        color: '#D6EDFF'
        })(class="main-card toResearchCuration")
        .research-capacity-row
          img.first-img(src=require('../../assets/svg/mainScreen/capacityCuration1.svg'))
          img.last-img(src=require('../../assets/svg/mainScreen/capacityCuration2.svg'))
      +mainScreenCard({
        title: 'Policy Research Grants', 
        color: '#FFE4C1'
        })(class="main-card toPolicyGrant")
        img(src=require('../../assets/svg/mainScreen/policyGrants.svg'))
      
      +mainScreenCard({
        title: 'Research Promotion, Networking & Outreach', 
        color: '#D6EDFF'
        })(class="main-card-big toResearchNetworking")
        .research-networking-card
          .card-chart
            each val, index in [{color: '#F36D20', percent: '37%'}, {color: '#F36D20', percent: '24%'}, {color: '#FFAA4D', percent: '16%'}, {color: '#FFAA4D', percent: '11%'}, {color: '#FFAA4D', percent: '10%'}, {color: '#569FD6', percent: '2%'},]
              .card-chart-item(style={'width': val.percent, 'background-color': val.color})
          .card-desc
            img(src=require('../../assets/svg/mainScreen/researchNetworking1.svg'))
            img(src=require('../../assets/svg/mainScreen/researchNetworking2.svg'))
      +mainScreenCard({
        title: 'Pilot Projects', 
        color: '#FFE1D0'
        })(class="main-card-big toPilotProjects")
        .pilot-projects-card 
          img(src=require('../../assets/svg/mainScreen/pilotProjects1.svg'))
          img(src=require('../../assets/svg/mainScreen/pilotProjects2.svg'))
      +mainScreenCard({
        title: 'Assigned Projects',
        color: '#FFE1D0'
        })(class="toAssignedProjects main-card-big")
        .assigned-projects-card
          img(src=require('../../assets/svg/mainScreen/assignedProjects1.svg'))
          img(src=require('../../assets/svg/mainScreen/assignedProjects2.svg'))
      +mainScreenCard({
        title: 'Research- Capacity Building Grants', 
        color: '#FFE4C1'
        })(class="main-card toResearchCapacity")
        img(src=require('../../assets/svg/mainScreen/researchCapacity.svg'))
      +mainScreenCard({
        title: 'Private Sector Projects', 
        color: '#FFE1D0'
        })(class="main-card toPrivateSectorProjects")
        img(src=require('../../assets/svg/mainScreen/privateProjects.svg'))
      +mainScreenCard({
        title: 'Innovation and Enter-prise - Professional Certificate Grants', 
        color: '#FFE4C1'
        })(class="main-card toInnovationGrant")
        img(src=require('../../assets/svg/mainScreen/innovationGrants.svg'))
      +mainScreenCard({
        title: 'Innovation and Enterprise - Curations', 
        color: '#D6EDFF'
        })(class="main-card toInnovationCurations")
        img(src=require('../../assets/svg/mainScreen/innovationCurations.svg'))
      +mainScreenCard({
        title: 'Prizes Winners (2022 Prizes)', 
        color: '#D6EDFF'
        })(class="main-card-big toPrizeWinners")
        .prize-winners-card 
          +smallPrizeRow({
            title: 'Jaber Al-Ahmed Prize 2022 winners',
            color: 'blue'
          })
          .persons-row 
            ul.persons-lis
              li.persons-list-item Dr. Dari AI Huwail
              li.persons-list-item Dr. Yousef AI OsairiDr.
              li.persons-list-item Mohammad Jamal
            ul.persons-lis
              li.persons-list-item Dr. Abdullah AI ShebliDr.
              li.persons-list-item Abdullah Sultan

          +smallPrizeRow({
            title: 'Al-Sumait Prize 2022 winners',
            color: 'orange'
          })(class= "orange-prize")
          +smallPrizeRow({
            title: 'Kuwait Prize 2022 winners',
            color: 'yellow'
          })
      +mainScreenCard({
        title: 'KFAS Social Media', 
        color: '#FFE4C1'
        })(class="main-card-big toKfasMedia")  
        +appTab({actveColor: '#BE4EF9', id:"card-media-tab"})(class="active kfas-card-tab")
          img(src=require("../../assets/svg/mainScreen/insta.svg"))
        img.chart(src=require("../../assets/svg/mainScreen/kfasMediaChart.svg"))
      +mainScreenCard({
        title: 'Organizational Development Projects', 
        color: '#FFE1D0'
        })(class="main-card-big toOrganizationalProjects")  
        .organizational-projects-card-row
          img(src=require("../../assets/svg/mainScreen/organizationalProjects1.svg"))
          img.last-child(src=require("../../assets/svg/mainScreen/organizationalProjects2.svg"))
      +mainScreenCard({
        title: 'Organizational Achievements', 
        color: '#D6EDFF'
        })(class="main-card toOrganizationalAchivements")
        .organizational-achivements-col 
          +bigNumWithTitle({
            title: 'candidates',
            subtitle: 'were interviewed',
            num: 702
            })
            img.icon(src=require("../../assets/svg/mainScreen/peopleSpeak.svg"))
          +bigNumWithTitle({
            title: 'Kuwaitis',
            subtitle: 'were hired',
            num: 42
            })
            img.icon(src=require("../../assets/svg/mainScreen/peopleChecked.svg"))

      +mainScreenCard({
        title: 'Financial Achievements', 
        color: '#FFE4C1'
        })(class="main-card toFinancialAchivements")  
        .financial-achievements-col 
          +boldTextRow({
            leadingNum: 451, 
            leadingText: null, 
            leadingColor: '#F47D39', 
            text: 'of companies contributed'
            })(class="fin-ach-item") 
          +boldTextRow({
            leadingNum: 29.5, 
            leadingText: 'million', 
            leadingColor: '#F47D39', 
            text: 'KD in contributions collected'
            })(class="fin-ach-item") 
          img.last-child(src=require("../../assets/svg/mainScreen/handMoney.svg"))
