
//- include ../../common/ui/appPageLayout/appPageLayout.pug
include ../../common/ui/appHeaderDetails/appHeaderDetails.pug
include ../../common/ui/twoValuesRow/twoValuesRow.pug
include ../../common/ui/popupPage/popupPage.pug
include ../../common/ui/sidebar/sidebar.pug
include ./components/bineficLogoChart/bineficLogoChart.pug
include ../../common/ui/genderChart/genderChart.pug

  //- +appPageLayout()
  //-   +appHeaderDetails({title: 'Math and Science Education - Grants'})
  //-   main.main
mixin MathCurationPage()
  +popupPage()(class="mathCurationPage")
    main.main
      +appHeaderDetails({title: 'Math and Science Education - Curation', closeClass: 'mathCurationClose'})
      .container 
        +appSidebar() 
          img.sidebar__img.moveToRight(src=require('../../assets/svg/mathCuration/events.svg'))
          img.sidebar__img.moveToRight(src=require('../../assets/svg/mathCuration/binefic.svg'))
          img.sidebar__img.moveToRight(src=require('../../assets/svg/mathCuration/amount.svg'))
        .content-math-curation 
          h2.binefic-title Beneficiaries
          .content-row 
            +bineficLogoChart({title: 'KFAS', title2: 'STEAM Day', amount: 205, amountStyle: 'orangeStyle', canvasId: 'binefic_1'})
              img.bineficImg(src=require('../../assets/svg/mathCuration/kfas.svg'))
            +bineficLogoChart({title: 'Google Certified', title2: 'Educator Training', amount: 118, amountStyle: 'orangeStyle', canvasId: 'binefic_2'})
              img.bineficImg(src=require('../../assets/svg/mathCuration/google.svg'))
            +bineficLogoChart({title: 'Metaverse', title2: 'Hackathon', amount: 88, amountStyle: 'light-orange-style', canvasId: 'binefic_3'})
              img.bineficImg(src=require('../../assets/svg/mathCuration/hackathon.svg'))
            +bineficLogoChart({title: 'Maharaat', title2: 'Camp', amount: 80, amountStyle: 'light-orange-style', canvasId: 'binefic_4'})
              img.bineficImg-camp(src=require('../../assets/svg/mathCuration/camp.svg'))
            +bineficLogoChart({title: 'Korean', title2: 'STEM Trip', amount: 14, amountStyle: 'blue-style ', canvasId: 'binefic_5'})
              img.bineficImg(src=require('../../assets/svg/mathCuration/stem.svg'))
          .content-row.gender-row 
            h2 Gender Breakdown
            .gender-info 
              +genderChart({man: 63, woman: 37, canvasId: 'gender_1'})
              .gender-info-col 
                +twoValuesRow({val1: 60, val2: 542, isOrange: false})
                +twoValuesRow({val1: 40, val2: 364, isOrange: true})(class="male-info")

